@charset "utf-8";

@font-face {
    font-family: 'OA-Gothic';
    src: url('../font/OAGothic-ExtraBold.woff2') format('woff2'),
        url('../font/OAGothic-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OA-Gothic';
    src: url('../font/OAGothic-Medium.woff2') format('woff2'),
        url('../font/OAGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 120px;
    color: #fff;
    font-weight: 800px;
}

h3 {
    font-size: 80px;
    color: #333;
}

span,
p {
    word-break: keep-all;
}

body {
    font-family: 'OA-Gothic';
    font-weight: 500;
    overflow-x: hidden;
}

.mobile {
    display: none;
}

.inner {
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 4px;
    text-align: center;
}

.header .logo img {
    height: 100%;
}

.header .nav {
    width: 100%;
    background-color: #fff;
}

.header .nav {
    display: flex;
    height: 50px;
    width: calc(100% - 40px);
    align-items: center;
    margin: 0 auto;
}

.header .nav .category {
    width: 952px;
    margin: 0 auto;
}

.header .nav .category .gnb {
    display: flex;
    justify-content: space-between;
    color: #b12028;
    font-weight: 800;
}

.header .nav .left {
    height: 100%;
    align-content: center;
    margin-right: 63px;
}

.header .nav .left .search {
    height: 30px;
    position: relative;
}

.header .nav .left .search input {
    width: 180px;
    height: 100%;
    border: 2px solid #b12028;
    border-radius: 20px;
    padding-inline: 10px;
}

.header .nav .left .search img {
    height: 100%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.main {
    width: 100%;
}

.main .main_visual {
    width: 100%;
    z-index: -1;
}

.main .main_visual .mySwiper .swiper-wrapper {
    height: 100vh;
}

.main .main_visual .mySwiper .swiper-wrapper .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 58px;
    border: 3px solid #636569;
    color: #636569;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    line-height: 58px;
    margin-top: 85px;
}


.section-01 {
    margin: 200px auto;
}

.section-01 p {
    font-size: 18px;
    color: #333;
    font-weight: 800;
}

.section-01 span {
    display: block;
    font-size: 18px;
    color: #555;
    font-weight: 500;
    margin-top: 10px;
}

.section-01 .item_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.section-01 .item_wrap h3 {
    position: absolute;
    top: -60px;
    left: 0;
}

.section-01 .item_wrap .left_item {
    width: 49.16%;
    aspect-ratio: 1 / 1;
    background-color: #ebebeb;
    text-align: center;
    box-sizing: border-box;
    padding-top: 70px;
    border-radius: 30px;
}

.section-01 .item_wrap .left_item a .item {
    width: 100%;
    height: 100%;
    align-content: center;
}

.section-01 .item_wrap .left_item a .item img {
    width: 50%;
}

.section-01 .item_wrap .left_item a .item .text {
    margin-top: 63px;
}

.section-01 .item_wrap .left_item a .item .text span {
    margin-top: 32px;
    display: block;
}

.section-01 .side_item {
    width: 49.16%;
}

.section-01 .top_item {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: #ebebeb;
    border-radius: 30px;
}

.section-01 .top_item a .item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
}

.section-01 .top_item a .item img {
    width: 50%;
}

.section-01 .top_item .item .text {
    width: 50%;
    text-align: center;
}

.section-01 .item_wrap .side_item .bottom_item {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    column-gap: 24px;
}

.section-01 .item_wrap .side_item .bottom_item .item {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #ebebeb;
    border-radius: 30px;
}

.section-01 .item_wrap .side_item .bottom_item .item img {
    width: 55%;
}

.section-01 .item_wrap .side_item .bottom_item .item:last-child img {
    width: 45%;
}

.section-01 .item_wrap .side_item .bottom_item .item .image_wrap {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.section-01 .item_wrap .side_item .bottom_item .item .image_wrap p {
    margin: 10px 0 16px;
}

.top_button {
    width: 60px;
    height: 60px;
    border: 1px solid #b12028;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    line-height: 60px;
    color: #b12028;
    font-weight: 800;
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 100;
}


.section-02 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.section-02 .image {
    width: 87.5%;
    position: relative;
}

.section-02 .image:hover img {
    transform: scale(1.5);
    border-radius: 0;
}

.section-02 .image h3 {
    font-size: 120px;
    color: #636569;
    position: absolute;
    top: -80px;
    right: 240px;
    z-index: 20;
}

.section-02 .image img {
    width: 100%;
    height: 690px;
    border-radius: 50px 0 0 50px;
    transform-origin: right center;
    transition: transform 0.7s ease-in-out;
}

.section-02 .image .text {
    position: absolute;
    bottom: 100px;
    left: 122px;
    color: #fff;
}

.section-02 .image .text h4 {
    font-size: 36px;
    margin-bottom: 30px;
}

.section-02 .image .text h4 strong {
    color: #b12028;
}

.section-02 .image .text span {
    font-size: 18px;
}

.section-03 {
    margin: 200px 0;
}

.section-03 .text {
    margin-bottom: 60px;
}

.section-03 .text h3 {
    margin-bottom: 30px;
}

.section-03 .text p {
    font-size: 18px;
    color: #555;
}

.section-03 .item_wrap {
    width: 100%;
    display: flex;
}

.section-03 .item_wrap .item {
    width: 25%;
    max-height: 520px;
}

.section-03 .item_wrap .item:hover .image_box img {
    transform: scaleY(1.2);
}

.section-03 .item_wrap .item:hover .image_box strong {
    color: #ffffff85;
}

.section-03 .item_wrap .item .image_box {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-03 .item_wrap .item .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.section-03 .item_wrap .item .image_box strong {
    width: 100%;
    font-size: 36px;
    color: #fff;
    position: absolute;
    bottom: 42px;
    left: 0;
    text-align: center;
}

.section-04 {
    height: 1707px;
    background-color: #ebebeb;
}

.section-04 .inner {
    display: flex;
    column-gap: 24px;
    padding-top: 130px;
}

.section-04 .inner .text {
    width: 50%;
    height: 500px;
    position: sticky;
    top: 130px;
}

.section-04 .inner .text .import {
    font-size: 18px;
    color: #b12028;
    margin: 30px 0 15px;
    font-weight: 800;
}

.section-04 .inner .text .explain {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.section-04 .inner .text a {
    font-size: 18px;
    color: #555;
    width: 130px;
    height: 30px;
    border: 1px solid #555;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}

.section-04 .inner .item_wrap {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
}

.section-04 .inner .item_wrap .item {
    width: 244px;
    height: 372px;
}

.section-04 .inner .item_wrap .item a {
    display: block;
    width: 100%;
    height: 100%;
}

.section-04 .inner .item_wrap .item:nth-child(even) {
    position: relative;
    top: 200px;
}

.section-04 .inner .item_wrap .item img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.section-05 {
    margin: 200px auto;
}

.section-05 .inner {
    display: flex;
    justify-content: space-between;
}

.section-05 .item {
    width: 47.22%;
    max-height: 320px;
    position: relative;
}

.section-05 .item img {
    width: 100%;
    height: 100%;
}

.section-05 .item .text {
    position: absolute;
    top: 50%;
    left: 98px;
    transform: translateY(-50%);
}

.section-05 .item .text .brand {
    font-size: 36px;
    color: #636569;
    font-weight: 700;
}

.section-05 .item .text span {
    display: block;
    font-size: 18px;
    color: #333;
    margin: 30px 0;
}

.section-05 .item .text a {
    width: 124px;
    height: 28px;
    font-size: 18px;
    color: #b12028;
    border: 1px solid #b12028;

    display: inline-block;
    text-align: center;
    line-height: 24px;
}

.section-05 .item .text .left {
    color: #fff;
}

.footer {
    background-color: #636569;
}

.footer .inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-block: 52px;
    color: #fff;
    font-size: 14px;
}

.footer .inner .left .top_text {
    display: flex;
    height: 40px;
    align-items: center;
}

.footer .inner .left .top_text .legal {
    display: flex;

}

.footer .inner .left .top_text img {
    height: 100%;
    width: 78px;
    margin-right: 36px;
}

.footer .inner .left .top_text li {
    border-right: 1px solid #fff;
    margin-right: 15px;
    padding-right: 15px;
}

.footer .inner .left .top_text li:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.footer .inner .left .bottom_text {
    margin-top: 36px;
    display: flex;
}

.footer .inner .left .bottom_text li {
    border-right: 1px solid #fff;
    margin-right: 17px;
    padding-right: 17px;
}

.footer .inner .left .bottom_text li:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.footer .inner .left p {
    margin: 9px 0 36px;
}

.footer .inner .right {
    width: 148px;
}

.footer .inner .right .icon {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.footer .inner .right .icon li img {
    height: 100%;
    width: 30px;
    object-fit: cover;
}

.footer .inner .right .icon li:nth-child(2) a img {
    width: 40px;
}

@media screen and (max-width: 1400px) {
    h2 {
        font-size: 100px;
    }

    .header .nav .category {
        width: 800px;
    }

    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text {
        left: 8%;
    }

    .section-02 .image {
        width: 95%;
    }

    .section-02 .image h3 {
        right: 100px;
    }
}

@media screen and (max-width: 1280px) {
    h2 {
        font-size: 85px;
    }

    h3 {
        font-size: 72px;
    }

    .header .logo {
        height: 40px;
    }

    .header .nav .category {
        width: 650px;
    }

    .header .nav .left .search input {
        width: 150px;
    }

    .header .nav .left {
        margin-right: 50px;
    }

    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text a {
        width: 220px;
        height: 52px;
    }

    .section-01 p {
        font-size: 16px;
    }

    .section-01 span {
        font-size: 16px;
    }

    .section-01 .item_wrap .side_item .bottom_item .item .image_wrap p {
        margin: 10px 0 8px 0;
    }

    .section-02 .image h3 {
        font-size: 100px;
        right: 80px;
    }

    .section-03 .text {
        margin-bottom: 48px;
    }

    .section-03 .text h3 {
        margin-bottom: 24px;
    }

    .section-03 .item_wrap .item {
        width: auto;
    }

    .section-03 .item_wrap .item .image_box strong {
        font-size: 28px;
    }

    .section-04 .inner .text {
        width: 45%;
    }

    .section-04 .inner .item_wrap {
        width: 55%;
        justify-content: flex-end;
    }

    .section-04 .inner .item_wrap .item {
        width: 43.5%;
        max-height: 370px;
        height: 30.83vw;
    }

    .section-05 .item {
        width: 48.5%;
    }

    .section-05 .item .text {
        left: 50px;
    }

    .section-05 .item .text span {
        margin: 20px 0;
    }

    .section-05 .item .text .brand {
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 72px;
    }

    h3 {
        font-size: 60px;
    }

    .section-01,
    .section-03,
    .section-05 {
        margin: 180px 0;
    }

    .section-01 .item_wrap h3 {
        position: static;
        margin-bottom: 20px;
    }

    .header .logo {
        height: 30px;
    }

    .header .nav .category {
        width: 540px;
    }

    .header .nav .left .search input {
        width: 120px;
    }

    .header .nav .left {
        margin-right: 40px;
    }

    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text a {
        width: 200px;
        height: 44px;
    }

    .section-01 .item_wrap {
        display: block;
    }

    .section-01 .item_wrap .left_item {
        width: 100%;
        margin-bottom: 20px;
    }

    .section-01 .item_wrap .left_item {
        aspect-ratio: auto;
        padding-top: auto;
        padding: 50px 50px 30px;
    }

    .section-01 .item_wrap .left_item .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-01 .item_wrap .left_item a .item img {
        width: 30%;
    }

    .section-01 .item_wrap .left_item a .item .text {
        margin-top: 0;
    }

    .section-01 p {
        font-size: 24px;
    }

    .section-01 .top_item {
        aspect-ratio: 1 /1;
        width: 49%;
    }

    .section-01 .top_item a .item {
        flex-direction: column;
    }

    .section-01 .top_item a .item img {
        width: 75%;
    }

    .section-01 .top_item .item .text {
        width: 100%;
        margin-top: 30px;
    }

    .section-01 .side_item {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .section-01 .item_wrap .side_item .bottom_item {
        flex-direction: column;
        row-gap: 24px;
        width: 49%;
        margin-top: 0;
    }

    .section-01 .item_wrap .side_item .bottom_item .item {
        aspect-ratio: 2 / 1;
    }

    .section-01 .item_wrap .side_item .bottom_item .item .image_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 40px;
    }

    .section-01 .item_wrap .side_item .bottom_item .item img {
        width: 35%;
    }

    .section-01 .item_wrap .side_item .bottom_item .item:last-child img {
        width: 30%;
    }

    .section-02 .image {
        width: 100%;
    }

    .section-02 .image img {
        border-radius: 0;
        object-fit: cover;
    }

    .section-02 .image:hover img {
        transform: none;
    }

    .section-02 .image h3 {
        right: auto;
        left: 10px;
    }

    .section-02 .image .text {
        left: 10px;
    }

    .section-02 .image h3 {
        font-size: 80px;
        top: 50%;
        transform: translateY(-50%);
    }

    .section-02 .image .text h4 {
        font-size: 32px;
    }

    .section-03 .text h3 {
        margin-bottom: 20px;
    }

    .section-03 .text {
        margin-bottom: 36px;
    }

    .section-03 .item_wrap .item .image_box strong {
        font-size: 24px;
    }

    .section-04 .inner .item_wrap {
        gap: 24px;
    }

    .section-04 {
        height: 1600px;
    }

    .section-05 .item .text .brand {
        font-size: 28px;
    }

    .section-05 .item .text span {
        font-size: 16px;
    }

    .section-05 .item .text {
        left: 40px;
    }

    .section-05 .item .text a {
        width: 100px;
        font-size: 14px;
    }

}


@media screen and (max-width: 840px) {
    .header .nav .left {
        margin-right: 0;
    }

    .section-01 .item_wrap .left_item {
        margin-bottom: 16px;
    }

    .section-01 .item_wrap .side_item .bottom_item {
        row-gap: 16px;
    }

    .section-01 .item_wrap .side_item .bottom_item p {
        font-size: 18px;
    }

    .section-01 .item_wrap .side_item .bottom_item .item .image_wrap {
        padding-inline: 20px;
    }

    .section-01 .item_wrap .left_item a .item .text span {
        margin-top: 24px;
    }

    .section-01 .item_wrap h3 {
        margin-bottom: 16px;
    }

    .section-02 .image h3 {
        font-size: 68px;
        top: 40%;
    }

    .section-02 .image .text h4 {
        font-size: 28px;
    }

    .section-02 .image img {
        height: 100%;
    }

    .section-04 {
        height: 1400px;
    }

    .section-05 .item .text .brand {
        font-size: 20px;
    }

    .section-05 .item .text span {
        margin: 12px 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .top_button {
        width: 45px;
        height: 45px;
        font-size: 14px;
        right: 44px;
    }
    .section-01,
    .section-03,
    .section-05 {
        margin: 120px 0;
    }

    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text {
        left: 5%;
    }

    h2 {
        font-size: 64px;
    }

    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text a {
        width: 180px;
        font-size: 16px;
        border-width: 2px;
        font-weight: 600;
    }

    .nav .category {
        display: none;
    }

    .header {
        display: flex;
    }

    .header .logo {
        height: auto;
        padding-top: 0;
    }

    .header .logo img {
        height: 30px;
    }

    .header .nav {
        justify-content: flex-end;
    }

    .header .nav .left .search input {
        border: 0;
    }

    .header .nav .left .search img {
        height: 45px;
    }

    .mobile {
        display: block;
    }

    .header .mobile_menu {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 36px;
        padding-right: 10px;
    }

    .header .mobile_menu img {
        height: 100%;
    }

    .section-01 .side_item {
        flex-direction: column;
        row-gap: 16px;
    }

    .section-01 .top_item {
        width: 100%;
        aspect-ratio: auto;
    }

    .section-01 .top_item a .item {
        flex-direction: unset;
        padding: 50px 50px 30px;
    }

    .section-01 .top_item a .item img {
        width: 35%;
    }

    .section-01 .top_item .item .text {
        margin-top: 0;
    }

    .section-01 .item_wrap .side_item .bottom_item {
        width: 100%;
        flex-direction: unset;
        column-gap: 16px;
    }

    .section-01 .item_wrap .side_item .bottom_item .item {
        height: 100%;
        aspect-ratio: unset;
    }

    .section-01 .item_wrap .side_item .bottom_item .item .image_wrap {
        display: block;
        padding-block: 20px;
    }

    .section-01 .item_wrap .side_item .bottom_item .item .text {
        margin-top: 32px;
    }

    .section-02 .image .text h4 {
        margin-bottom: 20px;
    }

    .section-02 .image img {
        height: 500px;
    }

    .section-03 .item_wrap {
        flex-wrap: wrap;
    }

    .section-03 .item_wrap .item {
        width: 50%;
    }

    .section-03 .item_wrap .item .image_box strong {
        font-size: 28px;
    }

    .section-03 .text h3 {
        margin-bottom: 12px;
    }

    .section-03 .text {
        margin-bottom: 16px;
    }

    .section-04 {
        height: 2000px;
    }

    .section-04 .inner {
        display: block;
        padding-top: 100px;
    }

    .section-04 .inner .text {
        width: 100%;
        height: auto;
        position: static;
    }

    .section-04 .inner .text .explain {
        font-size: 14px;
    }

    .section-04 .inner .item_wrap {
        width: 100%;
        justify-content: center;
    }

    .section-04 .inner .item_wrap .item {
        width: 40%;
        height: 57vw;
    }

    .section-05 .inner {
        flex-direction: column;
        row-gap: 20px;
    }

    .section-05 .item {
        width: 100%;
        height: 250px;
    }

    .section-05 .item .text {
        left: 20px;
    }

    .section-05 .item img {
        object-fit: cover;
    }

    .section-05 .item .text .brand {
        font-size: 24px;
    }

    .section-05 .item .text span {
        margin: 20px 0;
    }

    .footer .inner .left .top_text img {
        width: 50px;
        object-fit: contain;
    }

    .footer .inner {
        padding-top: 44px;
    }

    .footer .inner .left .top_text {
        display: block;
        margin-bottom: 12px;
        height: auto;
    }

    .footer .inner .left .top_text img {
        margin-bottom: 4px;
        margin-right: 0;
    }

    .footer .inner .right .icon li img {
        width: 24px;
    }

    .footer .inner .right .icon {
        margin-bottom: 28px;
    }

    .footer .inner .left .bottom_text {
        margin-top: 28px;
    }

    .footer .inner .left .bottom_text li {
        padding-bottom: 4px;
        border-right: 0;
    }

    .footer .inner .left .bottom_text {
        flex-direction: column;
    }

    .footer .inner .left .top_text .legal {
        display: block;
    }

    .footer .inner .left .top_text li {
        padding-bottom: 4px;
        border-right: 0;
    }

    .footer .inner .left .top_text li a {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 40px;
    }

    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text a {
        width: 128px;
        font-size: 14px;
    }

    .section-01 p {
        font-size: 18px;
    }

    .section-01 .item_wrap .side_item .bottom_item .item img {
        width: 50%;
    }

    .section-01 .item_wrap .side_item .bottom_item .item:last-child img {
        width: 40%;
    }

    .section-02 .image h3 {
        font-size: 44px;
    }

    .section-02 .image .text h4 {
        font-size: 24px;
    }

    .section-03 .text p {
        font-size: 16px;
    }

    .section-02 .image .text span {
        font-size: 16px;
    }

    .section-03 .item_wrap .item .image_box strong {
        font-size: 20px;
        bottom: 28px;
    }

    .section-04 {
        height: 1800px;
    }

    .section-04 .inner {
        padding-top: 80px;
    }

}

@media screen and (max-width: 480px) {
    .top_button {
        right: 24px;
    }
    h2 {
        font-size: 36px;
    }

    .section-01,
    .section-03,
    .section-05 {
        margin: 60px 0;
    }
    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide img {
        object-position: 65% ;
    }

    .main .main_visual .mySwiper .swiper-wrapper .swiper-slide .text a {
        width: 100px;
        font-weight: 500;
        font-size: 12px;
        height: 40px;
    }

    .section-01 span {
        font-size: 14px;
    }

    .section-04 {
        height: 1500px;
    }

    .section-04 .inner .item_wrap {
        margin-top: 80px;
    }
}

@media screen and (max-width: 320px) {}