@font-face {
    font-family: 'OA Gothic';
    src: url('OAGothic-ExtraBold.woff2') format('woff2'),
        url('OAGothic-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OA Gothic';
    src: url('OAGothic-Medium.woff2') format('woff2'),
        url('OAGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

